@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    font-family: 'Poppins', sans-serif
    
}

.navbar{
   height: 50px;
    
}
 
#welcome-section{
        
    text-align: center;
    background-color: silver; 
    padding: 30px;     
    width: 100%;
    height: 600px;
             

 }

 .column{
     display: flex;
     
 }
 .col{
     width: 100%;
     
 }

 .pic{
     width: 300px;
     height: 100%
 }
 

#mypic{
    box-shadow: 0 4px 8px  rgba(14, 13, 13, 0.2), 0 6px 20px  rgba(9, 8, 8, 0.19);
    width: 100%;
}
.intro{
    margin-top: 80px;
}
.aboutme{
    margin: 0px 30px 30px 30px;
    padding: 30px
}




#contact{
    text-align: center;
    padding: 100px;
} 

#welcome-section img{
    
    border-radius: 50%;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px
    
    
}


#contact a{
    text-decoration: none;
}

#contact a{
    margin:15px;
}
#contact{
    background-color: aliceblue;
}

#pph-hireme{
    margin-bottom:30px;
    margin-left:180px;
}
#callTag{
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding: 10px;
    background-color: #3f3737;
}

#emailTag{
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding: 10px;
    background-color: #3f3737;
}

#githubTag{
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding: 10px;
    background-color: #3f3737;
}

.contactBox2{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height: 60px;
    border-top: 1px solid gray;
}
#copy{
    float: left;
    margin: 30px
}
#power{
    float: right;
    margin: 30px;
}

.card-img-top {
    width: 100%;
   
    object-fit: contain;
}
.card{
    box-shadow: 0 4px 8px  rgba(14, 13, 13, 0.2), 0 6px 20px  rgba(9, 8, 8, 0.19);
    border-radius: 10px;
    width:100%;
}




.cards{
    text-align: center;
    
}

@media only screen   
and (min-width: 320px)   
and (max-width: 575px)  
{ 
    .column{
        
        flex-direction: column;
        flex-shrink: 0;
        
    }
    
} 
