
*{
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}
#navbar{
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    background-color: rgb(29, 29, 29);
    font-display: white;
    height: 50px;
}
#navbar a{
    color: white;
    margin-inline: 50px;
    float: right;
    text-decoration: none;
    margin-top: 15px; 
}
 
#welcome-section{
     
    
    text-align: center;
    padding: 200px;
    
    
    
    

 }


#tile-container{
    display: flex;
    overflow-x: auto ;
}

#projects h1{
   text-align: center;
    
} 
    
#projects{
    
    
}

.project-tile{
    
    width: 400px ;
    height:230px;
    padding: 40px;
    border: 1px solid;
    margin-inline: 5px;
    overflow: hidden;
       
}
.project-tile img{
    max-width: 100%;
    max-height: 100%;
}

#contact{
    text-align: center;
    padding: 100px;
} 